* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ÉLÉMENTS ROUGES */
.item {
  background: red;
  border: 2px solid darkred;
  padding: 15px 20px;
}

/* HAUT */
.top {
  height: 120px;
  background: blue;

  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 8px solid rgb(255, 255, 255);
}

/* MILIEU */
.middle {
  height: 300px;
  background: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-item {
  background: transparent;
}

/* BAS */
.bottom {
  height: 120px;
  border: 3px solid blue;
  margin: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
