/* fond bleu */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #128181;
}

/* colonne grise */

.tower {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px;
  background: #aaa;
  border-radius: 4px;
}

/* chaque ligne */

.row {
  display: flex;
  gap: 6px;
}

/* carrés */

.row::before,
.row::after {
  content: "";
  width: 22px;
  height: 22px;
  background: white;
  border-radius: 2px;
}

/* lignes jaunes */

.row.yellow::before,
.row.yellow::after {
  background: #ffd400;
}
