/* fond bleu */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #128181;
}

/* colonne grise */

.tower {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background: #807f7f;
  border-radius: 2 px;
  border: 2px solid cornsilk;
}

/* chaque ligne */

.row {
  display: flex;
  gap: 6px;
}

/* carrés */

.row::before,
.row::after {
  content: "";
  width: 22px;
  height: 22px;
  background: white;
  border: 2px solid rgb(253, 253, 253);
  border-radius: 2px;
}

/* lignes jaunes */

.row.yellow::before,
.row.yellow::after {
  background: #ffd400;
  border: 2px solid rgb(218, 189, 73);
}
