* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Élemenet rouge*/
.item {
  background: red;
  border: 2px solid darkred;
  padding: 15px 20px;
}

/* Bas */
.bottom {
  height: 120px;
  border: 3px solid blue;
  margin: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
/*bonjour1*/
#bonjour1 {
  justify-content: space-between;
}

/*bonjour2*/
.bonjour2 {
  align-self: center;
}
