body {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 80px;
  margin-bottom: 40px;
}

button {
  background-color: rgb(3, 3, 247);
  color: white;
  font-size: 40px;
  padding: 20px 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(7, 7, 168);
}
